# Database
DATABASE_URL="postgresql://ezviz:ezviz_secret@localhost:5432/ezviz_senegal"
POSTGRES_USER=ezviz
POSTGRES_PASSWORD=ezviz_secret
POSTGRES_DB=ezviz_senegal

# JWT
JWT_SECRET=change_me_in_production_min_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars
JWT_REFRESH_EXPIRES_IN=7d

# App
PORT=3000
NODE_ENV=development
API_PREFIX=api/v1

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
